<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>お店検索</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
<div class="container py-5">
    <h1 class="mb-4 text-center">操作を選択してください</h1>
    <form action="/shops_sign_up" method="POST">
        <input type="hidden" name="owner_id" value={{owner_id}}>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-secondary">お店を登録する</button>
        </div>
    </form>
    <form action="/seats_sign_up" method="POST">
        <input type="hidden" name="owner_id" value={{owner_id}}>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-secondary">掲載</button>
        </div>
    </form>
    <div class="text-center mt-4">
        <a href="/users_sign_up" class="btn btn-secondary">掲載削除</a>
    </div>

</div>
</body>
</html>
