/* ユーザ登録のタイトルをオレンジにする */
.text-center {
  color: #FF8C00; /* オレンジ */
  font-weight: bold; /* 文字を少し強調 */
  text-shadow: 2px 2px 5px rgba(255, 140, 0, 0.3);
}

.btn-sign-up {
  border: none;
  margin-top: 1rem;
  background-color: #FF8C00;
  color: white;
  border-radius: 5px;
}

.btn-sign-up:hover {
  background-color: blanchedalmond;
  color: #FF8C00;
}
  
.btn-back {
  border: none;
  background-color: #FF8C00;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-back:hover {
  background-color: blanchedalmond;
  color: #FF8C00;
  transform: scale(1.03);
}
