/* src/App.css */
.container {
    padding: 20px;
    background-color: white;
    text-align: center;
  }
  
  .search-bar {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* カテゴリーボタンのスタイル */
  .category-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .category-button {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .category-button:hover {
    transform: scale(1.05);
  }
  
  .category-button.selected {
    border-color: #4CAF50;
    background-color: #d4edda;
  }
  
  .category-button p {
    font-weight: bold;
  }
  
  .App {
    text-align: center;
    width: 100%; /* 幅を100%にして画面いっぱいに広げる */
    max-width: 1200px; /* 最大幅を設定（任意） */
    margin: 0 auto; /* 中央寄せ */
    padding: 20px; /* パディングを追加 */
  }
  
  